<div>
  <h1>Welcome to InvestBros!</h1>
  <p>"Turning Pocket Money Into Portfolios"</p>
  <div>
    <a href="/register" class="btn">Register</a>
    <a href="/login" class="btn">Login</a>
  </div>
</div>
